body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin-bottom: 10px;
  background-color: rgba(26,32,46,255);
  color: white;
}

header {
  font-size: 25px;
  font-weight: 800;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(26,32,46,255);
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: contain; /* o puedes omitirlo */
}


img {
  float: left;
  margin: 0 12px 0 0;
  height: 60px;
  width: 150px;
}

/* Barra de navegación */
nav {
  width: 100%;
  background-color: #2c2f4a; /* color de fondo de la franja */
  margin-top: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

nav li {
  padding: 10px 15px;
  text-align: center;
  background-color: transparent;
  border: none;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

nav li:hover {
  background-color: white;
}

nav li:hover a {
  color: black;
}

/* Resto del CSS (footer, etc) */

footer > p {
  font-size: smaller;
  color: white;
  text-align: center;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

svg {
  width: 100px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#contenedor {
  text-align: left;
  width: 100%;
  margin: auto;
}

#lateral {
  width: 20%;
  /* Este será el ancho que tendrá tu columna */
  background-color: #CCCCCC;
  /* Aquí pon el color del fondo que quieras para este lateral */
  float: right;
  /* Aquí determinas de lado quieres quede esta "columna" */
  font-size: small;
}

#principal {
  width: 75%;
  float: left;
  background-color: #FFFFFF;
}

/* Para limpiar los floats */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}